@import "../../variables.scss";

.button {
  background: $secondary-color;
  border-radius: 0.4em;
  color: $black;
  font-size: 1.4em;
  margin: 3vh 0 0;
  padding: 0.5em 2vw;
  text-align: center;
  transition: all 0.5s;
  width: 70%;
}

.button span {
  position: relative;
}

.button span:after {
  content: "\00bb";
  opacity: 0;
  position: absolute;
  right: -20px;
  top: 0;
}

.button span,
.button span:after {
  transition: 0.5s;
}

.button,
.button span {
  cursor: pointer;
  display: inline-block;
}

.button:hover span {
  padding-right: 1em;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button:hover {
  color: $white;
}
