.grid {
  font-family: "Varela", sans-serif;

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 70em;
    padding: 0 1em;
  }
}
