@import "../../variables.scss";

.grid {
  font-family: $primary-font;

  .grid__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 70em;
    padding: 0 1em;
  }
}
