@import "../../variables.scss";

.card .frame img {
  height: auto;
  margin: 0;
  max-height: 90vh;
  width: 100%;
}

// .button {
//   border-radius: 0.4em;
//   background: #0397d8;
//   color: #000;
//   text-align: center;
//   font-size: 1.4em;
//   padding: 0.5em 2vw;
//   width: 70%;
//   transition: all 0.5s;
//   margin: 3vh 0 0;
// }

// .button span {
//   position: relative;
// }

// .button span:after {
//   content: "\00bb";
//   position: absolute;
//   opacity: 0;
//   top: 0;
//   right: -20px;
// }

// .button span,
// .button span:after {
//   transition: 0.5s;
// }

// .button,
// .button span {
//   cursor: pointer;
//   display: inline-block;
// }

// .button:hover span {
//   padding-right: 1em;
// }

// .button:hover span:after {
//   opacity: 1;
//   right: 0;
// }

// .button:hover {
//   color: #fff;
// }

.zoomButton {
  background: none;
}

.closeButton {
  position: absolute;
  right: 2%;
  width: auto;
  z-index: 1;
  top: -50px;
  background: $secondary-color;
}
