@import "../../variables.scss";

.card {
  background: $primary-color;
  border-radius: $x-small;
  box-sizing: border-box;
  flex: 1 0 18.125rem;
  font-size: $x-small;
  margin: $x-small 0 0;
  padding: 2rem 0 $x-small;
  text-align: center;
  transition: 0.5s;

  article + button {
    background: #00a4ff;
    position: absolute;
    right: -1rem;
    top: -4rem;
    width: 10rem;
  }

  button {
    background: none;
    border: none;
    position: absolute;
  }

  img {
    height: 10rem;
    width: 16rem;
  }

  svg {
    background: $antique-white;
    border: 0.125rem $secondary-color solid;
    opacity: 0.8;
    position: relative;
  }

  svg:hover {
    background: $primary-color;
  }

  .card__details {
    margin: 0.8rem 0 -4rem;

    .card__details__left__section__surround {
      border-bottom: 5.875rem solid $white;
      border-right: 6.25rem solid transparent;
      height: 0;
      z-index: 2;

      .card__details__left__section {
        color: $black;
        left: 0;
        text-align: left;

        h2 {
          font-size: $medium;
        }
        h3 {
          font-size: $small;
        }
        h2,
        h3 {
          line-height: 1.6rem;
        }
      }
    }

    .card__details__right__section__surround {
      border-bottom: 3.75rem solid $black;
      border-left: 1.5rem solid transparent;
      right: -45.6%;
      top: -4.875rem;
      width: 46%;
      z-index: 3;

      .card__details__right__section {
        color: $white;
        padding: 0;
        right: $x-small;
        text-align: right;

        p {
          font-size: $x-small;
          line-height: 1.8rem;
        }
      }
    }

    .card__details__left__section__surround,
    .card__details__right__section__surround {
      height: 0;
      position: relative;
    }

    .card__details__left__section,
    .card__details__right__section {
      display: inline-block;
      margin: 0;
      padding: $x-small;
      position: absolute;
      width: 100%;
    }
  }
}

.card:hover {
  background: $secondary-color;
  border-radius: $x-small;
  box-shadow: 0.25rem 0.25rem 0.5rem hsl(0, 0%, 70%);
  color: $black;
}

@media screen and (min-width: 40rem) {
  .card {
    flex: 0 1 calc(50% - 1rem);
    max-width: calc(50% - 1rem);
  }
}

@media screen and (min-width: 60rem) {
  .card {
    align-self: flex-start;
    flex: 0 1 calc(33.3% - 1rem);
    max-width: calc(33.3% - 1rem);
  }
}
