@import "../../variables.scss";

.card {
  background: $primary-color;
  border-radius: $x-small;
  box-sizing: border-box;
  flex: 1 0 18.125rem;
  font-size: $x-small;
  margin: $x-small 0 0;
  padding: 2rem 0 $x-small;
  text-align: center;
  transition: 0.5s;

  button {
    display: block;
    height: 3rem;
    margin: 2rem auto $x-small;
    padding: 0;
    width: 10rem;
  }

  img {
    height: 10rem;
    margin-top: -7rem;
    width: 16rem;
  }

  svg {
    background: $antique-white;
    border: 0.125rem $secondary-color solid;
    opacity: 0.8;
    position: relative;
  }

  svg:hover {
    background: $primary-color;
  }
}

.card:hover {
  background: $secondary-color;
  border-radius: $x-small;
  box-shadow: 0.25rem 0.25rem 0.5rem hsl(0, 0%, 70%);
  color: $black;
}

.card__details {
  margin: 0.8rem 0 -4rem;
  .leftSection,
  .rightSection {
    display: inline-block;
    margin: 0;
    padding: $x-small;
    position: absolute;
    text-align: left;
    width: 100%;
  }

  .leftSectionSurround {
    border-bottom: 5.875rem solid $white;
    border-right: 6.25rem solid transparent;
    height: 0;
    z-index: 2;

    .leftSection {
      color: $black;
      left: 0;
    }
  }

  .rightSectionSurround {
    border-bottom: 3.75rem solid $black;
    border-left: 1.5rem solid transparent;
    right: -45.6%;
    top: -4.875rem;
    width: 46%;
    z-index: 3;

    .rightSection {
      color: $white;
      padding: 0;
      position: absolute;
      right: $x-small;
      text-align: right;

      p {
        line-height: 1.8rem;
      }
    }
  }

  .leftSectionSurround,
  .rightSectionSurround {
    height: 0;
    position: relative;
  }
  h2 {
    font-size: $medium;
    line-height: 1.6rem;
  }
  p {
    font-size: $x-small;
  }
}

@media screen and (min-width: 40rem) {
  .card {
    flex: 0 1 calc(50% - 1rem);
    max-width: calc(50% - 1rem);
  }
}

@media screen and (min-width: 60rem) {
  .card {
    align-self: flex-start;
    flex: 0 1 calc(33.3% - 1rem);
    max-width: calc(33.3% - 1rem);
  }
}
