@import "../../variables.scss";

.modal-overlay {
  align-items: center;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  height: 100%;
  left: 0;
  justify-content: center;
  top: 0;
  width: 100%;
  z-index: 4;

  .modal-overlay__modal {
    background: $white;
    border-radius: $x-small;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 88%;
  }
}

.modal-overlay,
.modal-overlay__modal {
  padding: $x-small;
  position: fixed;
}
