// button {
//   display: block;
//   margin: 2rem auto;
//   font-size: 1.2rem;
//   padding: 1rem;
//   box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
// }

.images {
  img {
    width: 100%;
  }
}
.modal-overlay {
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  padding: 1em;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 4;
}

.modal {
  background: #fff;
  border-radius: 1em;
  padding: 1rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 88%;
  height: auto;

  .card {
    max-width: 100%;
    height: 638px;

    img {
      float: left;
      width: 60%;
      margin: 1em 1.4em;
      position: relative;
      z-index: 2;
      max-height: 550px;
      max-width: 814px;
    }

    .detailsSurround + .button {
      width: auto;
      position: absolute;
      bottom: 20px;
      z-index: 1;
      right: 2%;
    }

    .leftSectionSurround {
      left: 43%;
      width: 45%;
      border-top: 120px solid #fff;
      border-left: 100px solid transparent;
      border-bottom: none;
      border-right: none;
      top: 60px;
      position: relative;
      z-index: 1;
      .leftSection {
        top: -108px;
        left: 50px;
      }
    }

    .rightSectionSurround {
      right: -69.6%;
      width: 28%;
      top: -50px;
      font-size: 1.5em;
      border-bottom: 150px solid #000;
    }

    .moreInfoButton {
      display: none;
    }

    .carwowRating {
      top: 110px;
      position: absolute;
      left: 4%;
    }

    .summary {
      display: inline-flex;
      position: absolute;
      height: 0;
      border-bottom: 170px solid #fff;
      border-left: 100px solid transparent;
      z-index: 1;
      bottom: 15px;
      width: fit-content;
      left: 0;
      p {
        line-height: 1.6em;
        font-size: 1.6em;
        text-align: left;
        padding: 0.4em 1em 0 0;
      }
    }
  }

  .card:hover {
    box-shadow: none;
  }
}
