header {
  background: #fef200;
  border-radius: 1rem;
  box-sizing: border-box;
  height: 5.4rem;
  margin: 1rem auto 0;
  text-align: center;
  transition: 0.5s;
  width: 100%;
  h1 {
    font-size: 1.4rem;
  }
}
