@import "../../variables.scss";

.loading-circle {
  margin-top: 12vh;
  text-align: -webkit-center;

  .loading-circle__title {
    font-size: $x-large;
  }

  .loading-circle__title,
  .loading-circle__logo {
    position: relative;
    top: 12.25rem;
    z-index: 1;
  }

  .loading-circle__loader {
    animation: spin 2s linear infinite;
    background: $primary-color;
    border: $x-small solid $light-grey;
    border-top: $x-small solid $primary-color;
    border-radius: 50%;
    height: 17rem;
    width: 17rem;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
