.centered-circle {
  margin-top: 16vh;
  text-align: -webkit-center;

  .centered-circle__title {
    font-size: 1.4rem;
  }

  .centered-circle__title,
  .centered-circle__logo {
    position: relative;
    top: 8.25rem;
    z-index: 1;
  }

  .centered-circle__loader {
    animation: spin 2s linear infinite;
    background: #fef200;
    border: 1rem solid #f3f3f3;
    border-top: 1rem solid #fef200;
    border-radius: 50%;
    height: 11rem;
    width: 11rem;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
