//Brand Colours

$primary-color: #fef200;
$secondary-color: #00a4ff;

//Basic none brand colours

$black: #000;
$white: #fff;

// Advanced none brand colours

$antique-white: #faebd7;
$light-grey: #f3f3f3;

//Primary Brand font
$primary-font: "Varela", sans-serif;
